/* Keeps main body centered and inline */
html,
p {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  text-align: center;
}

/* Background image and backup color */
body {
  background-color: rgb(237, 225, 213);
  background-image: url(img/pawprint.webp);
}

.main-body {
  margin-inline: auto;
  width: 300px;
  background-color: rgba(237, 225, 213, 0.5);
}

/* Centers Images */
.image {
  margin-inline: -100px;
  opacity: 1;
}
